<head>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<script>
    const update = (productid, wId, newInventory) => {
        window.location = "admin?update=" + productid + "&wId="+wId +"&newInventory=" +newInventory;
        //window.location.reload()
    }
</script>
<div class="admin-display">
    <h1>OnlyDucks Administrator Panel</h1>
    <h2>Daily Sales Report</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Order Date</th>
            <th scope="col">Total Order Amount</th>
        </tr>
        </thead>
        <tbody>
        {{#each dailySales}}
            <tr>
                <td>{{displayDate this.date}}</td>
                <td>${{displaymoney this.dailyTotal}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>


    <h2>Inventory by Warehouse</h2>
    <form name="form2">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Inventory</th>
            <th scope="col">Warehouse ID</th>
            <th scope="col">Warehouse Name</th>
        </tr>
        </thead>
        <tbody>
        {{#each inventoriesByWarehouse}}
            <tr>
                <td>{{ this.productid}}</td>
                <td>{{this.productname}}</td>
                <td>
                    <label>
                        <input type='number' name="prodInv" data-id="{{this.productid}}" data-wid="{{this.wId}}"  min='0' step='1' oninput="validity.valid||(value='');"
                               id='newinventory{{this.productid}}' value={{this.quantity}}>
                    </label></td>
                <td>{{this.wId}}</td>
                <td>{{this.wName}}</td>
                <td><button type=button onclick="update({{ this.productid }}, {{ this.wId}}, document.form2.newinventory{{this.productid}}.value);"
                            value="Update Inventory">Update Inventory</button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </form>
    </div>
</body>
