<head>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<body>
<div class="admin-display">
    <h1>OnlyDucks Administrator Panel</h1>
    <h2>Daily Sales Report</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Order Date</th>
            <th scope="col">Total Order Amount</th>
        </tr>
        </thead>
        <tbody>
        {{#each dailySales}}
            <tr>
                <td>{{displayDate this.date}}</td>
                <td>${{displaymoney this.dailyTotal}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <h2>Total Sales Per Order</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Number of Products Sold</th>
            <th scope="col">Total Amount</th>
        </tr>
        </thead>
        <tbody>
        {{#each productSales}}
            <tr>
                <td>{{this.orderId}}</td>
                <td>{{this.totalQuantity}}</td>
                <td>{{this.totalAmount}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <h2>Graph</h2>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>
</body>
<script>
    const ctx = document.getElementById('myChart');

    console.log(ctx)

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
