<head>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<script>
    const update = (productid, wId, newInventory) => {
        window.location = "admin?update=" + productid + "&wId="+wId +"&newInventory=" +newInventory;
        //window.location.reload()
    }
</script>
<div class="admin-display">
    <h1>OnlyDucks Administrator Panel</h1>
    <h2>Daily Sales Report</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Order Date</th>
            <th scope="col">Total Order Amount</th>
        </tr>
        </thead>
        <tbody>
        {{#each dailySales}}
            <tr>
                <td>{{displayDate this.date}}</td>
                <td>${{displaymoney this.dailyTotal}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>


    <h2>Inventory by Warehouse</h2>
    {{#each warehouses}}
    <form name="form2" id='warehouse{{this.wId}}'>
    <table class="table">
            <h3>Warehouse Name: {{this.wName}} Warehouse ID: {{this.wId}}</h3>
        <thead>
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Inventory</th>
        </tr>
        </thead>
        <tbody>
        {{#each (lookup ../products @index)}}
            <tr>
                <td>{{this.productid}}</td>
                <td>{{this.productname}}</td>
                <td>
                    <label>
                        <input type='number' name="prodInv" data-id="{{this.productid}}" data-id="{{this.warehouseid}}" min='0' step='1' oninput="validity.valid||(value='');"
                               id='newinventory{{this.productid}}' value={{this.quantity}}>
                    </label></td>
                <td>
                    <button type=button onclick="update({{ this.productid }}, {{this.warehouseid}}, document.form2.newinventory{{this.productid}}.value);"
                            value="Update Inventory">Update Inventory</button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </form>
    {{/each}}
    </div>
</body>
