<head>
    <link rel="stylesheet" type="text/css" href="/css/listprod.css">
</head>
<h1 class="page-space">Search for the products you want to buy:</h1>
<form method="get" action="/listprod">
    <div class="product-search">
        <select size="1" name="categoryName">
            <option>All</option>
            <option>Beverages</option>
            <option>Condiments</option>
            <option>Confections</option>
            <option>Dairy Products</option>
            <option>Grains/Cereals</option>
            <option>Meat/Poultry</option>
            <option>Produce</option>
            <option>Seafood</option>
            <input type="text" name="productName" class="form-control search-bar">
        </select>
        <input type="submit" class="btn btn-primary" value="Submit">
        <input type="reset" class="btn btn-primary" value="Reset">
    </div>
    {{#if name}}
        <h2 class="page-space">Products {{specifyCat}} containing '{{name}}'</h2>
    {{else}}
        <h2 class="page-space">All {{category}}</h2>
    {{/if}}
    {{#if product}}
        <div class="list-product-flex">
            {{#each product}}
                <div class="card-group">
                    <div class="card product-card" style="width: 24rem;">
                        <img class="card-img-top img" alt="Ducks" src={{this.productImageURL}}>
                        <div class="card-body">
                            <h5 class="card-title"><a href={{getProductDescriptionLink
                                    this.productId}}>{{this.productName}} </a></h5>
                            <h6>${{displaymoney this.productPrice}}</h6>
                            <p class="card-text">{{this.productDesc}}</p>
                            <p><a href={{getAddToCartLink this.productId this.productName this.productPrice}}
                                  class="btn btn-primary">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</form>
