<head>
    <link rel="stylesheet" type="text/css" href="/css/listprod.css">
</head>
<h1 class="page-space">Search for the products you want to buy:</h1>
<form method="get" action="/listprod">
    <div class="product-search">
        <input type="text" name="productName" class="form-control search-bar">
        <input type="submit" class="btn btn-primary" value="Submit">
        <input type="reset" class="btn btn-primary" value="Reset">
    </div>
    {{#if name}}
        <h2 class="page-space">Products containing '{{name}}'</h2>
    {{else}}
        <h2 class="page-space">All Products</h2>
    {{/if}}
    {{#if product}}
        <table class="table page-space">
        <div class="list-product-flex">
            {{#each product}}
                    <div class="card-group">
                        <div class="card" style="width: 24rem;">
                            <img src={{this.productImageURL}} class="card-img-top" alt="Ducks">
                            <div class="card-body">
                                <h5 class="card-title"><a href={{getProductDescriptionLink this.productId}}>{{this.productName}} </a></h5>
                                <h6>${{displaymoney this.productPrice}}</h6>
                                <p class="card-text">{{this.productDesc}}</p>
                                <p><a href={{getAddToCartLink this.productId this.productName this.productPrice}} class="btn btn-primary">Add to Cart</a></p>
                            </div>
                        </div>
                    </div>


            {{/each}}
        </div>
        </table>
    {{/if}}
</form>
