<head>
    <link rel="stylesheet" type="text/css" href="/css/product.css">
</head>
<body>
<div class="product-flex-col">
    {{#if product}}
        {{#each product}}
            <div class="product-flex-row-large-margin">
                <div class="product-flex-col-half">

                    <div class="product-flex-row"><h1 class="product-title"><b>{{this.productName}}</b></h1></div>
                    <div class="product-flex-row-text-top"><h1>About:&nbsp;</h1>
                        <h3 style="margin: 0.75rem 0 0 0"> {{this.productDesc}}</h3></div>
                    <div class="product-flex-row-text"><h1>Price:&nbsp;</h1>
                        <h3>${{displaymoney this.productPrice}}</h3></div>

                    <div class="product-flex-row-buttons">
                        <a href="/listprod" class="btn button-coloured">Back To Shopping</a>
                        <a href={{getAddToCartLink this.productId this.productName this.productPrice}}
                           class="btn button-coloured">Add to Cart</a>
                    </div>
                </div>
                {{#if this.productImageURL}}
                    <img src={{this.productImageURL}} class="large-image">
                {{/if}}
                {{#if this.productImage}}
                    <img src="/displayImage?id={{this.productId}}" class="large-image" alt="Cannot find image">
                {{/if}}
            </div>
        {{/each}}
    {{/if}}

    <h1>Leave a review!</h1>
    <h5 class="light-text">How would you rate this duck out of 5?</h5>
    <div class="product-flex-row-small-margin">
        <div class="form-check form-check-inline">
            <input class="radio-input" type="radio" name="inlineRadioOptions" id="star1" value="option1">
            <label class="form-check-label" for="star1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="radio-input" type="radio" name="inlineRadioOptions" id="star2" value="option2">
            <label class="form-check-label" for="star2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="radio-input" type="radio" name="inlineRadioOptions" id="star3" value="option2">
            <label class="form-check-label" for="star3">3</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="radio-input" type="radio" name="inlineRadioOptions" id="star4" value="option2">
            <label class="form-check-label" for="star4">4</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="radio-input" type="radio" name="inlineRadioOptions" id="star5" value="option2">
            <label class="form-check-label" for="star5">5</label>
        </div>

    </div>

    <textarea class="form-control review-input" id="reviewInput" rows="5"
              placeholder="Tell others about your experience!"></textarea>

    <a class="btn button-coloured">Submit Review</a>

    {{#if reviews}}
        {{#each reviews}}
            <div class="card-group">
                <div class="card product-card" style="width: 50rem;">
                    <div class="card-body">
                        <h5 class="card-title"><a>{{this.firstName}} {{this.lastName}} reviewed this project on {{displayDate this.reviewDate}}</a></h5>
                        <h6>{{this.reviewRating}}</h6>
                        <p class="card-text">{{this.productDesc}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    {{/if}}

</div>
</body>
